
<p-dialog  header="{{modalType}} Product" [(visible)]="displayAddModal" [modal]="true" (onHide)="CloseModal()" [closable]="true" [style]="{width: '60vw'}"
 class="responsive-dialog">
    <form [formGroup]="productForm" class="product-form">

        <div class="field pt-2">
            <label class="block text-danger" for="title">Title</label>
            <input type="text" pInputText id="title" formControlName="title" placeholder="Enter Title" />
            <small class="p-error block" *ngIf="productForm.controls['title'].invalid && productForm.controls['title'].touched">Field is Required</small>
        </div>
        <div class="field">
            <label class="block text-danger" for="price">Price</label>
            <p-inputNumber id="price" formControlName="price" class="block" placeholder="Enter Price"></p-inputNumber>
            <small class="p-error block" *ngIf="productForm.controls['price'].invalid && productForm.controls['price'].touched">Field is Required</small>
        </div>
        <div class="field">
            <label class="block" for="description">Description</label>       
            <textarea formControlName="description" pInputTextarea placeholder="Enter Description" ></textarea>
            <small class="p-error block" *ngIf="productForm.controls['description'].invalid && productForm.controls['description'].dirty">Please Enter Valid Description</small>
        </div>
        <div class="field">
            <label class="block text-danger" for="category">Category</label>
            <input type="text" pInputText id="category" formControlName="category" placeholder="Enter Category"/>
            <small class="p-error block" *ngIf="productForm.controls['category'].invalid && productForm.controls['category'].touched">Field is Required</small>
        </div>
        <div class="field">
            <label class="block text-danger" for="image">Image</label>
            <input type="text" pInputText id="image" formControlName="image" placeholder="Image Url"/>
            <small class="p-error block" *ngIf="productForm.controls['image'].invalid && productForm.controls['image'].touched">Field is Required</small>
        </div>

    </form>
    <ng-template pTemplate="footer">
        <p-button (click)="CloseModal()" label="Cancel" styleClass="p-button-danger"></p-button>
        <p-button (click)="AddEditProduct()" label="{{modalType}}" styleClass="p-button"></p-button>
    </ng-template>
  </p-dialog>