<div class="d-flex justify-content-between align-items-center p-2 m-2">
    <h2 style="color: blue;" class="mb-0">Product List</h2>
    <button pButton pRipple label="Add Product" class="btn btn-success" (click)="ShowAddModal()"></button>
</div>

<p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5">
    <ng-template pTemplate="caption">
        <app-filter-product (SelectCategory)="getProductsByCategory($event)"></app-filter-product>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="title" style="width:20%">
                Title <p-sortIcon field="code" />
            </th>
            <th pSortableColumn="price" style="width:20%">
                Price <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="category" style="width:20%">
                Category <p-sortIcon field="category" />
            </th>
            <th pSortableColumn="image" style="width:20%">
                Image <p-sortIcon field="quantity" />
            </th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.title }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.category }}</td>
            <td><img src="{{product.image}}" height = "30px" /></td>
            <td>
                <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="ShowEditProduct(product)"></button>
                <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteProduct(product)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<app-add-product [displayAddModal]="displayAddModal" [SelectedProduct]="SelectedProduct" (clickClose)="hideAddModal($event)" (clickAddEdit)="SaveOrUpdateProductToList($event)" ></app-add-product>
<!-- Showing Dialog -->
<p-confirmDialog header="Delete"></p-confirmDialog>
<!-- Showing Toster -->
<p-toast position="bottom-right"></p-toast>

